@import './Astracts/funtions';
@import './Astracts/mixin';
@import './Astracts/variable';
@import './Base/base';
@import './Base/typhography';
@import './Base/ultilities';
@import './Components/button';
@import './Components/img';
@import './Components/slider';
@import './Layouts/grid';
@import './Layouts/heading';
@import './Page/home';
@import './Components/menu';
@import './Components/animation';