// -------------button-menu--------------//

  .nav-bg--per {
    top:15px;
    left:15px;
    position:fixed;
    display:block;
    width: 6rem;
    height:6rem;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    &__icon1 {
      width:90%;
      height:90%;
      background-color:$color-black;
      border-radius:50%;
      position:absolute;
      color:white;
      text-align:center;
      line-height:70px;
      top:10%;
      left:10%;
      cursor:pointer;
      z-index:19;
      transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1);
      position:absolute;
    }
    &__icon2 {
      width:90%;
      height:90%;
      background-color:$color-black;
      border-radius:50%;
      position:absolute;
      color:white;
      text-align:center;
      line-height:70px;
      top:10%;
      left:10%;
      cursor:pointer;
      z-index:19;
      transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1) .2s;
    }
    &__icon3 {
      width:90%;
      height:90%;
      background:$color-black;
      border-radius:50%;
      position:absolute;
      color:white;
      text-align:center;
      line-height:70px;
      cursor:pointer;
      top:10%;
      left:10%;
      transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1) .3s;  
    }
    &__icon4 {
      width:90%;
      height:90%;
      background-color:$color-black;
      border-radius:50%;
      position:absolute;
      color:white;
      text-align:center;
      cursor:pointer;
      line-height:70px;
      top:10%;
      left:10%;
      transition: all 500ms cubic-bezier(0.680,0, 0.265, 1) .4s;  
    }
    &__iconprimary {
      top:1.5rem;
      left:1.5rem;
      width:6.5rem;
      height:6.5rem;
      background:$color-black ;
      border-radius:50%;
      position:absolute;
      z-index:21;
      color:white;
      text-align:center;
      line-height:120px;
      cursor:pointer;
      position:fixed;
    }
    &__user{
      transform: translateY(-20%);
      &-primary{
          transform: translateY(-70%);
      } 
    
  }
  .icon-circle:hover{
      color:$color-black !important;
      background-color: $color-white !important;
      box-shadow: 0 0 10px $color-white ,
      0 0 40px $color-blue,
      0 0 80px $color-secondary;
      //transition-delay: 0.5s;
  }
}
  